<!------------------------------------ Acerca de --------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-3 alinear-texto">
                <h2> Acerca de </h2>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 alinear-texto">
                <a class="btn btn-primary boton-editar" href=""> Editar </a>
            </div>
        </div>
        <div  class="alinear-texto">
            <p id="texto-acerca-de"> {{informacionPersonal?.acercaDe}}</p>
        </div>
    </div>
    <div>
        <input id="edit-acerca-de" type="text" oninput="myFunctions2(this.value)" style="display:none">
    </div>
</article>