<!------------------------------------ Acerca de --------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-3 alinear-texto">
                <h2> Acerca de </h2>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div  class="alinear-texto">
            <p id="texto-acerca-de"> Técnico en Sistemas de Información Geográfica, apasionado por los mapas.
            En los años que he trabajado me ha tocado realizar diversas tareas en
                lo referido a GIS, desde la edición con las herramientas de escritorio y
                creación de <strong>mapas</strong>, hasta la implementación de una <strong>base de datos
                    geoespacial, servidores de mosaicos, de enrutamiento y de
                    geocodificación.</strong><br>
                Elijo preferentemente el software libre y sistema operativo Linux.<br>
                Me gusta explorar, conocer nuevos lenguajes de programación,
                implementar mis ideas o investigación en el área que me toca estar,
                mejorar mi trabajo y conocimientos día a día.</p>
        </div>
    </div>
    <div>
        <input id="edit-acerca-de" type="text" oninput="myFunctions2(this.value)" style="display:none">
    </div>
</article>