<!--------------------------------- Habilidades ------------------------------------------------>
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Habilidades </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto">
            <div class="progress" *ngFor="let habilidad of habilidades">
                <div class="progress-bar" [ngStyle]="{width: habilidad.porcentaje}">{{habilidad.nombre}}</div>
                <br>
            </div>
        </div>
    </div>
</article>