<!--------------------------------- Habilidades ------------------------------------------------>
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Habilidades </h2>
            </div>
            <div>
                <a class="col-sm-1 botones-en-linea alinear-texto btn btn-success btn-sm boton-editar"
                style="float: right;" 
                href="agregarHabilidad">
                    Agregar 
                </a>
            </div>
            <div *ngFor="let hab of habilidades">
                <div>
                    <circle-progress style="float:left"
                    [percent]=hab.porcentaje
                    [radius]="100"
                    [title]="hab.nombre"
                    [titleFontSize]="'14px'"
                    [units]="''"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                >
                </circle-progress>
                </div>
                
                <button type="button" 
                        class="col-sm-1 botones-en-linea alinear-texto btn btn-danger btn-sm boton-borrar"
                        style="float: right;"
                        (click)="eliminarHabilidad(hab)"
                        >
                        Borrar
                </button>
                <a  class="col-sm-1 botones-en-linea alinear-texto btn btn-primary btn-sm boton-editar" 
                        style="float: right;"
                        [routerLink]="['editarHabilidad',hab.id]">
                        Editar 
                </a>
            </div>
        </div>
    </div>
</article>