<!--------------------------------- Habilidades ------------------------------------------------>
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Habilidades </h2>
            </div>
            <div>
                <circle-progress *ngFor="let hab of habilidades"
                    [percent]=hab.porcentaje
                    [radius]="100"
                    [title]="hab.nombre"
                    [titleFontSize]="'14px'"
                    [units]="''"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                >
                </circle-progress>
            </div>
        </div>
    </div>
</article>