<app-header 
    (cambiarValorMostrar) = "getCambiarValor($event)"
    (cambiarValorOcultar) = "getCambiarValorOcultar($event)">
</app-header>
<app-encabezado [sePuedeEditar]="mostrar"></app-encabezado>
<app-informacion-personal [sePuedeEditar]="mostrar"></app-informacion-personal>
<app-acerca-de [sePuedeEditar]="mostrar"></app-acerca-de>
<app-experiencia [sePuedeEditar]="mostrar"></app-experiencia>
<app-aptitudes [sePuedeEditar]="mostrar"></app-aptitudes>
<app-educacion [sePuedeEditar]="mostrar"></app-educacion>
<app-habilidades [sePuedeEditar]="mostrar"></app-habilidades>
<app-proyectos [sePuedeEditar]="mostrar"></app-proyectos>
<app-ubicacion [sePuedeEditar]="mostrar"></app-ubicacion>
<app-redes-sociales [sePuedeEditar]="mostrar"></app-redes-sociales>
