<!---------------------------------- Educación ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Educación </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto">
            <ul>
                <li>
                    <strong>
                        Técnico en Sistemas de Información Geográfica (2011-2014) - Universidad Nacional General Sarmiento
                    </strong>
                </li>
                <li>Curso de Geoserver y publicación de capas</li>
                <li>Curso de base de datos Postgis</li>
                <li>Curso de AutoCAD 2D</li>
                <li>Curso de Python 3 - UTN</li>
                <li>Curso JAVA</li>
                <li>Curso de Git/GitHub</li>
                <li>Cultura de Servicio y Cultura del Cliente basado en Disney</li>
                <li>
                    Geomarketing con ArcGIS: Determinación de ubicaciones óptimas para la apertura de 
                    instalaciones comerciales
                </li>
                <li>Curso de Project Manager</li>
            </ul>
        </div>
    </div>
</article>