<!---------------------------------- Educación ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Educación </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto">
            <ul>
                <li *ngFor="let edu of educacion">
                    <p> {{edu.nombreInstitucion}} </p>
                </li>
            </ul>
        </div>
    </div>
</article>