<h1> Agregar nuevo Proyecto </h1>
<form (ngSubmit)="crearProyecto()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreProyecto">Nombre del proyecto</label>
        <input type="string" [(ngModel)]="nombreProyecto" class="form-control" id="nombreProyecto" name="nombreProyecto" placeholder="Nombre del proyecto">
      </div>
      <div class="form-group col-md-6">
        <label for="duracion">Duración</label>
        <input type="string" [(ngModel)]="duracion"  class="form-control" id="duracion" name="duracion" placeholder="Duracion">
      </div>
      <div class="form-group col-md-6">
        <label for="participantes">Participantes</label>
        <input type="string" [(ngModel)]="participantes" class="form-control" id="participantes" name="participantes" placeholder="Participantes">
      </div>
      <div class="form-group col-md-6">
        <label for="ProyectoCol">ProyectoCol</label>
        <input type="string" [(ngModel)]="proyectoCol" class="form-control" id="proyectoCol" name="proyectoCol" placeholder="proyectoCol">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>

  <!-- {{formEducacion.value | json }} para ver el json en pantalla de los valores -->
