<!---------------------------------- Proyectos ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Proyectos </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto" *ngIf="sePuedeEditar">
                <a class="btn btn-success boton-agregar" href="agregarProyecto"> Agregar </a>
            </div>
        </div>
        <div class="alinear-texto">
            <ul>
                <li *ngFor="let proyecto of proyectos">
                    <p> {{proyecto.nombreProyecto}} 
                        <button *ngIf="sePuedeEditar"
                            type="button" 
                            class="btn btn-danger btn-sm boton-borrar"
                            style="float: right;"
                            (click)="eliminarProyecto(proyecto)"
                            > 
                            Borrar
                        </button>
                        <a  *ngIf="sePuedeEditar"
                            class="btn btn-primary btn-sm boton-editar" 
                            style="float: right;"
                            [routerLink]="['editarProyecto', proyecto.id]"
                            >
                             Editar 
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</article>