<!---------------------------------- Proyectos ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Proyectos </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto">
            <ul>
                <li>Detección del Derecho de construcción</li>
                <li>Diseño e implementación de Base de Datos Geoespacial</li>
                <li>Implementación de servidor de mosaicos personalizado</li>
                <li>Instalación e implementación de geocodificador personalizado</li>
            </ul>
        </div>
    </div>
</article>