<!------------------------------ Información personal ---------------------------------------------->
<div class="bordeado alinear-texto">
    <div class="row">
        <div class="col-sm-4 alinear-texto">
            <h2> Información personal </h2>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 alinear-texto">
            <button type="button" class="btn btn-primary boton-editar" onclick="Editar()"> Editar</button>
        </div>
    </div>
        <ul>
            <li> Fecha de Nacimiento: {{informacionPersonal.fechaNacimiento}} </li>
            <li> Nacionalidad: {{informacionPersonal.nacionalidad}} </li>
            <li> Email: {{email.email}} </li>
            <li> Lugar de residencia: {{informacionPersonal.lugarResidencia}} </li>
            <li> Teléfono: {{informacionPersonal.telefono}} </li>
        </ul>
    </div>