<!------------------------------ Información personal ---------------------------------------------->
<div class="bordeado alinear-texto">
    <div class="row">
        <div class="col-sm-4 alinear-texto">
            <h2> Información personal </h2>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 alinear-texto">
            <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
        </div>
    </div>
        <ul>
            <li> Fecha de Nacimiento: 25 de Julio de 1990 </li>
            <li> Nacionalidad: paraguaya </li>
            <li> Email: jvelazquez.tab@gmail.com </li>
            <li> Lugar de residencia: Moreno, Buenos Aires, Argentina </li>
        </ul>
    </div>