<h1> Agregar nueva Experiencia </h1>
<form (ngSubmit)="agregarExperiencia()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreIntitucionExperiencia">Nombre institución</label>
        <input  type="string" 
                [(ngModel)]="nombreEmpresa" 
                class="form-control" 
                id="nombreIntitucionExperiencia" 
                name="nombreIntitucionExperiencia" 
                placeholder="Nombre de la Institución">
      </div>
      <div class="form-group col-md-6">
        <label for="cargoExperiencia">Cargo</label>
        <input type="string" [(ngModel)]="cargo"  class="form-control" id="cargoExperiencia" name="cargoExperiencia" placeholder="Cargo">
      </div>
      <div class="form-group col-md-6">
        <label for="inputFechaIngresoExperiencia">Fecha de Egreso</label>
        <input type="date" [(ngModel)]="fechaIngreso" class="form-control" id="inputFechaIngresoExperiencia" name="inputFechaIngresoExperiencia" placeholder="Fecha de Ingreso">
      </div>
      <div class="form-group col-md-6">
        <label for="inputFechaEgresoExperiencia">Fecha de Egreso</label>
        <input type="date" [(ngModel)]="fechaEgreso" class="form-control" id="fechaEgresoExperiencia" name="fechaEgresoExperiencia" placeholder="fecha de Egreso">
      </div>
      <div class="form-group col-md-6">
        <label for="imagenExperiencia">Ingresar logo</label>
        <input  type="file" 
                accept="image/png, image/jpeg"
                [(ngModel)]="imagen" 
                class="form-control" 
                id="imagenExperiencia" 
                name="imagenExperiencia"
        >
      </div>
      <div class="form-group col-md-6">
        <div>
            <label for="esTrabajoActualExperiencia">¿Es trabajo actual?</label>
        </div>
        <input type="radio" 
            checked 
            [(ngModel)]="esTrabajoActual"
            name="esTrabajoActualExperiencia" 
            id="nuevo"
        /> 
        <label for="nuevo">Si</label>
        <input type="radio"
            [(ngModel)]="esTrabajoActual"
            name="esTrabajoActualExperiencia" 
            id="usado"
        /> 
        <label for="usado">No</label>
    </div>
      <div class="form-group col-md-6">
        <label for="descripcionExperiencia">Descripcion</label>
        <textarea   type="text" 
                    [(ngModel)]="descripcion" 
                    class="form-control" 
                    id="descripcionExperiencia" 
                    name="descripcionExperiencia"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
