<!------------------------------ Banner ------------------------------------------------------>
<div class="bordeado" *ngIf="logueadoOn">
    <div>
        <img class="banner" src="assets/header-web.png" alt="Header">
    </div>
    
  <!------------------------------ Foto de perfil ---------------------------------------------->
    <div>
        <div class="foto-perfil">
            <img src="assets/foto-perfil.jpg" class="rounded-circle" width="200px" height="200px" alt="Foto de perfil">
        </div>
    </div>
    <div class="alinear-texto">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 alinear-texto" *ngIf="sePuedeEditar">
                <a class="btn btn-primary boton-editar" [routerLink]="['editarEncabezado',miPortfolio?.id]"> Editar </a>
            </div>
        </div>
        <div>
            <h1 style="padding: 20px;"> {{miPortfolio?.nombre}} {{miPortfolio?.apellido}}</h1>
        </div>
        <div>
            <h2> {{titulo}} </h2>
        </div>
    </div>
</div>