<!------------------------------ Apartado sin clasificacion ------------------------------------->
<div class="bordeado">
    <div class="row">
        <div class="col-sm-4 alinear-texto">
            <h2> Donde estoy </h2>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 alinear-texto" *ngIf="sePuedeEditar">
            <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
        </div>
    </div>
    <article class="alinear-texto">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="https://www.openstreetmap.org/export/embed.html?bbox=-58.785867691040046%2C-34.608910351485655%2C-58.737974166870124%2C-34.58877471813489&amp;layer=mapnik" 
        style="border: 1px solid black">
        </iframe><br/>
        <small>
            <a href="https://www.openstreetmap.org/#map=15/-34.5988/-58.7619">
                Ver mapa más grande
            </a>
        </small>
    </article>
</div>