<!------------------------------ Experiencia --------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-3 alinear-texto">
                <h2> Experiencia </h2>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <ul>
            <li *ngFor="let exp of experiencia">
                <div class="row">
                    <div class="col-sm-6 p-3">
                        <p> {{exp.nombreEmpresa}} </p>
                        <p> {{exp.cargo}} </p>
                        <p> {{exp.fechaIngreso}} </p>
                    </div>
                    <div class="col-sm-6 p-3">
                        <img [src]="exp.imagen" class="logo-unigis float-start">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>