<h1> Agregar nuevo canal de Comunicación </h1>
<form (ngSubmit)="crearRedSocial()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreRedSocial">Nombre Red de comunicación</label>
        <select name="nombreRedSocial" [(ngModel)]="nombre" id="nombreRedSocial" name="nombreRedSocial">
            <option value="Discord">Discord</option>
            <option value="Facebook">Facebook</option>
            <option value="GitHub">GitHub</option>
            <option value="Gmail">Gmail</option>
            <option value="Instagram">Instagram</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="Skype">Skype</option>
            <option value="Teams">Teams</option>
            <option value="Telegram">Telegram</option>
            <option value="Twitter">Twitter</option>
            <option value="WhatApp">WhatApp</option>
            <option value="Youtube">Youtube</option>
        </select>
    </div>
      <div class="form-group col-md-6">
        <label for="linkRedSocial">Link de la red de Comunicación</label>
        <input type="string" [(ngModel)]="link" class="form-control" id="linkRedSocial" name="linkRedSocial " placeholder="link">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>