<header *ngIf="logueadoOn">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark quieto">
        <div class="container-fluid">
            <img src="assets/argentina-programa-logo.jpg" style="width:90px;" alt="Logo" class="logo-argentina-programa">
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            </ul>
            <ng-container *ngIf="mostrar == false; else elseIf">
              <button (click)="comenzarEdicion()" class="btn btn-primary btn-sm" type="button">Comenzar Edición</button>
            </ng-container>
            <ng-template #elseIf>
              <ng-container *ngIf="mostrar == true">
                <button (click)="terminarEdicion()" class="btn btn-danger btn-sm" type="button">Terminar Edición</button>
              </ng-container>
            </ng-template>
            <button (click) = "cerrarSesion()" type="button" class="btn-sm btn-secondary" style="margin-left: 10px;"> Cerrar Sesión </button>
          </div>
        </div>
      </nav>
</header>