<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="assets/argentina-programa-logo.jpg" style="width:90px;" alt="Logo" class="logo-argentina-programa">
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            </ul>
            <form class="d-flex">
              <button class="btn btn-primary" type="button">Login</button>
            </form>
          </div>
        </div>
      </nav>
</header>