<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="assets/argentina-programa-logo.jpg" style="width:90px;" alt="Logo" class="logo-argentina-programa">
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            </ul>
            <div *ngIf="mostrar == false" style="padding-right: 5px;">
              <button (click)="comenzarEdicion()" class="btn btn-primary btn-sm" type="button">Comenzar Edición</button>
            </div>
            <div>
              <button (click)="terminarEdicion()" class="btn btn-danger btn-sm" type="button">Terminar Edición</button>
            </div>
          </div>
        </div>
      </nav>
</header>