#body{
    background-color: #2A8E9D; /* #F3F2EF anteriormente gris */
}

h2 {
    margin-left: 30px;
    padding-left: 5px;
}

.alinear-texto{
    padding: 10px;
}

.fuente {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*text-align: center; texto centrado*/
    /*line-height: 20px; interlineado*/
    /*text-decoration: underline; decorado al texto*/
    /*text-transform: capitalize; mayuscula todas las primeras. uppercase */
    /*letter-spacing: 5px; espaciado entre letras*/
    /* word-spacing: 5px; espaciado despues de cada letra */
    /*text-shadow: 5px 5px #000; sombra al texto */
}

.bordeado{
	border-style: solid;
	border-radius: 12px;
    border-color: #0a66c2;
    background-color: #FFFF;
    border-width: 1px;
    margin: 10px 10px;
    padding: 0px;
}

.banner{
    /*usar porcentaje en las imagenes*/
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 12px;
}

.foto-perfil { /*no usado*/
    /*border-radius: 50%;*/
    width: 200px;
    height: 200px;
    bottom: 30px;
    left: 25px;
    position: relative;
}
/*
.bordeado-radio{
    border-radius: 10px;
    background-color: #0a66c2;
    border-color: 1px solid #0a66c2
}


header-a-probar{
    width: 100px;
    height: 100px;
    background: #3D9994;
    color: #3D9994;
    font-size: 30px;
    float: left;
}
*/

#texto-acerca-de{
    font-family: Arial;
}

.logo-argentina-programa{
    border-radius: 45%;
    width: "10px";
    height: "5px";
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-unigis{
    width: 17%;
    height: 70px;
    left: 35px;
    position: relative;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.logo-pilar{
    width: 120px;
    height: 90px;
    left:25px;
    position: relative;
    text-align: center;
}

.logo-ungs{
    width: 170px;
    height: 60px;
    left: 10px;
    position: relative;
    text-align: center;
}

/* Estilo para redes sociales*/
.redes-sociales{
    padding: 10px;
    width: 60px;
}


.fa {
    padding: 20px;
    font-size: 10px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .boton-editar{
    margin-right: 10px;
    float: right;
    margin-top: 5px;
  }

  .boton-borrar{
    margin-right: 10px;
    float: right;
    margin-top: 5px;
  }

  .boton-agregar{
    margin-right: 40px;
    float: right;
    margin-top: 5px;
  }

  .botones-en-linea {
    padding: 5px 10px 5px 10px;
}