<!---------------------------------- Aptitudes ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Aptitudes </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto" *ngFor="let aptitud of aptitudes">
            <h4> {{aptitud.clasificacion}}</h4>
            <ul>
                <li>{{aptitud.nombre}}</li>
            </ul>
        </div>
    </div>
</article>