<!---------------------------------- Aptitudes ------------------------------------------------->
<article>
    <div class="bordeado">
        <div class="row">
            <div class="col-sm-4 alinear-texto">
                <h2> Aptitudes </h2>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 alinear-texto">
                <button type="button" class="btn btn-primary boton-editar" onclick="CambiarParrafo()"> Editar</button>
            </div>
        </div>
        <div class="alinear-texto">
            <h4> Herramientas</h4>
            <ul>
                <li>QGIS</li>
                <li>Base de Datos Postgresql/Postgis</li>
                <li>ArcGIS</li>
                <li>Herramientas OpenStreetMap</li>
                <li>GDAL/OGR</li>
                <li>Leaflet</li>
                <li>OSRM</li>
                <li>Graphhopper</li>
            </ul>
            <h4>Lenguajes utilizados</h4>
            <ul>
                <li>SQL</li>
                <li>Python</li>
                <li>Java</li>
            </ul>
            <h4>Sistemas Operativos</h4>
            <ul>
                <li>Windows</li>
                <li>Ubuntu</li>
                <li>Ubuntu Server</li>
            </ul>
        </div>
    </div>
</article>